@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.background:hover {
  background: linear-gradient(135deg, transparent 45px, #C53720 0) top left,
    linear-gradient(-45deg, transparent 45px, #C53720 0) bottom right;
    background-size: 60%;
    background-repeat: no-repeat;
}

.box {
  clip-path: polygon(
    5% 0%,   /* Верхний левый угол срезанный */
    100% 0%,  /* Верхний правый угол */
    100% 100%, /* Нижний правый угол срезанный */
    100% 100%, /* Нижний правый угол */
    0% 100%,  /* Нижний левый угол */
    0% 15%    /* Верхний левый угол */
  );
  background: transparent;
  box-sizing: border-box; /* Учитываем границы */
}

@font-face {
  font-family: 'Geometria';
  font-weight: 100;
  font-style: normal;
  src: url('./fonts/Geometria-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 200;
  font-style: normal;
  src: url('./fonts/Geometria-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Geometria-Light.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Geometria.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Geometria-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Geometria-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 800;
  font-style: normal;
  src: url('./fonts/Geometria-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 900;
  font-style: normal;
  src: url('./fonts/Geometria-Heavy.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden !important;
  position: relative;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden !important;
  position: relative;
}

.bg-transition {
  transition: background-image 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
